<div id="screen">
	<div id="menubar">
		<div class="mac-btn" id="mac-btn-one"></div>
		<div class="mac-btn" id="mac-btn-two"></div>
		<div class="mac-btn" id="mac-btn-three"></div>
	</div>

	<div id="filler">
		<div id="profiler"></div>
		<div id="intro">
			<div class="filler-one"></div>
			<div class="filler-one"></div>
			<div class="filler-one"></div>
		</div>

		<div id="main">
			<div class="filler-two"></div>
			<div class="filler-two"></div>
			<div class="filler-two"></div>
			<div class="filler-two"></div>
			<div class="filler-two"></div>
		</div>
	</div>

	<div class="notification">
		<div class="content">
			<div class="identifier"></div>
			<div class="text"></div>
		</div>
	</div>

	<div class="number"><p>1</p></div>
</div>

<div id="credit">
	Web Notifcation Animation<br>
	by <a href="https://twitter.com/vcmg" target="_blank">@vcmg</a>
</div>
