<h5>Followers</h5>
<hr/>
<div class="row mt-4 mb-4">
	<div class="col-md-1 mb-2" *ngFor="let follower of followers">
		<img class="img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/
			assets/imgs/team/img_01.png" alt="card image">
	</div>
</div>

<h5>Followings</h5>
<hr/>

<div class="row mt-4">
	<div class="col-md-1 mb-2" *ngFor="let follow of following">
		<img class="img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/
			assets/imgs/team/img_01.png" alt="card image">
	</div>
</div>

