<div *ngIf="data" class="row">
	<div class="col-9">
		<div class="card">
			<div class="card-header">
				<strong>Recent Contests</strong>
			</div>
			<div class="card-body">
				<div *ngFor="let contest of data.recent_contests">
					<div class="row justify-content-between">
						<div class="col-8">
							<a class="link link-content" routerLink="/contest/{{contest.id}}">
								{{contest.name}}
							</a>
						</div>
						<div class="col-4">
							{{contest.created_at | date: 'YYYY-MM-dd hh:mm'}}
						</div>
					</div>
					<hr/>
				</div>
			</div>
		</div>
		<div class="card mt-4 shadow-sm">
			<div class="card-header">
				<strong>Recent Problems</strong>
			</div>
			<div class="card-body">
				<div *ngFor="let problem of data.recent_problems">
					<div class="row justify-content-between">
						<div class="col-8">
							<a class="link link-content" (click)="viewProblem(problem.source, problem.id)">
								{{problem.name}}
							</a>
						</div>
						<div class="col-4">
							{{problem.created_at | date: 'YYYY-MM-dd hh:mm'}}
						</div>
					</div>
					<hr/>
				</div>
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="card mb-4">
			<div class="card-header">
				<strong>Overview</strong>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-8">
						Total Contests
					</div>
					<div class="col-4">
						{{data.total_contests}}
					</div>
				</div>
				<hr/>
				<div class="row mt-2">
					<div class="col-8">
						Total Problems
					</div>
					<div class="col-4">
						{{data.total_problems}}
					</div>
				</div>
				<hr/>
				<div class="row mt-2">
					<div class="col-8">
						Total Users
					</div>
					<div class="col-4">
						{{data.total_users}}
					</div>
				</div>
				<hr/>
				<div class="row mt-2">
					<div class="col-8">
						Total Groups
					</div>
					<div class="col-4">
						{{data.total_groups}}
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				<strong>Top Scored</strong>
			</div>
			<div class="card-body">
				<div *ngFor="let user of data.top_users">
					<div class="row">
						<div class="col-8">
							<a class="link link-content" routerLink="/user/{{user.id}}">
								{{user.name}}
							</a>
						</div>
						<div class="col-4">
							{{user.score}}
						</div>
					</div>
					<hr/>
				</div>
			</div>
		</div>
	</div>
</div>
